name: checking updates

on:
  workflow_dispatch:
  schedule:
  - cron: "40 00 * * *"

jobs:
  raw-manifests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        echo "downloading yq"
        python -m pip install --upgrade pip
        pip install yq
        yq --version

        KUSTOMIZE=3.5.5
        echo "downloading kustomize ${KUSTOMIZE}"
        curl -sL https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv${KUSTOMIZE}/kustomize_v${KUSTOMIZE}_linux_amd64.tar.gz | \
        tar xz && mv kustomize /usr/local/bin/kustomize
        kustomize version
    - name: Check last upstream version
      id: lastrelease
      run: |
        get_latest_release() {
          curl -s "https://api.github.com/repos/tektoncd/pipeline/releases" | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/'|head -n 1
        }
        echo "::set-output name=latest_tag::$(get_latest_release)"
    - name: execute hack
      id: hack
      env:
        RELEASE: ${{ steps.lastrelease.outputs.latest_tag }}
      run: |
        cd deploy
        ../hack/new-release.sh ${RELEASE}
    - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
      with:
        commit_message: Automated Update to version ${{ steps.lastrelease.outputs.latest_tag }}
        branch: main
        file_pattern: deploy/*.yaml
        tagging_message: ${{ steps.lastrelease.outputs.latest_tag }}
